<%= form_with model: group, local: true do |f| %>
  <%= render 'devise/shared/error_messages', resource: f.object %>
    <div class="form-group">
      <%= f.label :name, "グループ名" %>
      <%= f.text_field :name, autofocus: true, placeholder: 'グループ名', class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "グループメンバー追加", class: "chat-group-form__label" %>
      <%= f.collection_check_boxes :user_ids, User.all, :id, :username %>
      <p>チェックしたメンバーのみこのグループに入る事ができます</p>
    </div>
  <%= f.hidden_field :admin_user_id, value: current_user.id %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
