<% provide(:title, @user.username) %>
<h1>プロフィール</h1>
<%= gravatar_for @user %><br>
<%= @user.username %>, <%= @user.email %>
<% if @user == current_user %>
<%= link_to "プロフィールを編集", edit_user_registration_path %>
<%= link_to "グループ新規作成", new_group_path %>
<% end %>
<h3><%= "#{@user.username}が管理者であるグループ一覧" %></h3>
<% @admin_groups.each do |group| %>
  <li>
    <%= link_to group.name, group_posts_path(group) %>
  </li>
<% end %>
<div class="user_belonging">
  <h3><%= "#{@user.username}が入室できるグループ一覧" %></h3>
  <% @user.groups.each do |group| %>
    <li>
      <%= link_to group.name, group_posts_path(group) %>
    </li>
  <% end %>
</div>
<div class="current_user_belonging">
  <% unless @user == current_user %>
    <h3><%= "あなたが入室できる#{@user.username}のグループ一覧" %></h3>
    <% @admin_groups.each do |group| %>
      <% if belonging?(group) %>
        <li>
          <%= link_to group.name, group_posts_path(group) %>
        </li>
      <% end %>
    <% end %>
  <% end %>
</div>
