<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "Sukkiri", root_path, id: "logo" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-md-auto align-items-center navbar-light bg-light">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "グループ一覧", groups_path %>
          </li>
          <li class="nav-item">
            <%= link_to "like一覧", likes_path(current_user) %>
          </li>
          <li class="nav-item">
            <%= link_to "ユーザー一覧", users_path %>
          </li>
          <li class="nav-item">
            <%= link_to(notifications_path) do %>
              <% if current_user.notification == true %>
                <span class="fa-stack">
                  <i class="far fa-bell fa-lg bell-icon fa-stack-2x"></i>
                  <i class="fas fa-circle n-circle fa-stack-1x"></i>
                </span>
              <% else %>
                <i class="far fa-bell fa-lg bell-icon"></i>
              <% end %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to user_path(current_user) do %>
              <i class="far fa-user user-icon"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "サインアウト", destroy_user_session_path, method: :delete %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
