<li>
  <%= post.user.username %>
  <%= post.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
  <%= post.content if post.content.present? %>
  <%= link_to((image_tag post.image.url), group_post_path(group, post), remote: true) %>
  <div id="image-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  <% if current_user == post.user %>
  <%= link_to "投稿編集", edit_group_post_path(group, post) %>
  <% end %>
  <div id="like-icon-post-<%= post.id.to_s %>">
    <% if post.liked_by(current_user).present? %>
      <%= link_to image_tag("liked-parts.png", size: "30x30"), group_post_like_path(group, post, post.liked_by(current_user)), method: :DELETE, remote: true %>
    <% else %>
      <%= link_to image_tag("like-parts.png", size: "30x30"), group_post_likes_path(group, post), method: :POST, remote: true %>
    <% end %>
  </div>
  <div id="like-text-post-<%= post.id.to_s %>">
    <%= render "like_text", { likes: post.likes } %>
  </div>
</li>
