<% provide(:title, "投稿編集") %>
<h3>投稿編集</h5>
  <div class="row">
    <%= render 'post_form', group: @group, post: @post %>
    <div class="col-md-6">
      <div class="profile-container text-center">
        <div class="gravatar-wrapper">
          <%= gravatar_for(@post.user, size: 100) %>
        </div>
        <h4>投稿者：<%= @post.user.username %></h4>
        <h6><%= link_to "投稿削除", group_post_path(@group, @post),
          method: :delete, data: {confirm: "本当に削除してよろしいですか？"} %></h6>
        <h6><%= link_to "投稿一覧へ戻る", group_posts_path(@group) %></h6>
      </div>
    </div>
  </div>
