<% provide(:title, "検索結果") %>
<div class="container">
<%= link_to "投稿一覧へ戻る", group_posts_path(@group) %>
  <% if @search_word.present? %>
    <h3>”<%= @search_word %>”の検索結果：<%= @search_results.count %>件</h3>
  <% else %>
    <h3>投稿一覧</h3>
  <% end %>
  <p>並べ替え:
    <%= sort_link(@q, :deadline) %>
    <%= sort_link(@q, :created_at) %>
    <%= sort_link(@q, :updated_at) %>
    <%= sort_link(@q, :content) %>
  </p>
  <ul class="search_results">
    <%= render @search_results, group: @group %>
  </ul>
  <%= will_paginate @search_results, previous_label: '<', next_label: '>' %>
</div>
