<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= full_title(yield(:title)) %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <a href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet" >
    <%= render 'shared/shim' %>
  </head>
  <body>
    <div id="wrapper">
      <%= render 'shared/header' %>
      <%= render 'shared/flash' %>
      <div class="container">
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
